
h4.date,
h4.author {
  display: none;
}

h2.hasAnchor {
  font-weight: 350;
}

.ref-index tbody {
  margin-bottom: 60px;
}

pre:not([class]) {
  background-color: white;
}

.contents a {
  text-decoration: none;
}

blockquote {
  font-size: inherit;
}

.examples .page-header {
  border-bottom: none;
}

