@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(N0bX2SlFPv1weGeLZDtQIg.woff) format('woff');
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(N0bS2SlFPv1weGeLZDtondv3mg.woff) format('woff');
}
