.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.Renviron
*.hdf5
resources/
.DS_Store
external/
issues
runs
MNIST-data
saved_wt.h5
doc
Meta
.vscode
scratch
inst/doc
.Rprofile
.Renviron
