
body {
  background-color: white;
}

#c3-container {
  height: 98vh;
} 

.c3 {
  width: 99%;
  font-family: "Lucida Sans", "DejaVu Sans", "Lucida Grande", "Segoe UI", Verdana, Helvetica, sans-serif;
}
