
h4.date,
h4.author {
  display: none;
}

h2.hasAnchor {
  font-weight: 350;
}

.ref-index tbody {
  margin-bottom: 60px;
}

pre:not([class]) {
  background-color: white;
}

blockquote {
  font-size: inherit;
}

.examples .page-header {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
}

.examples .sourceCode {
  margin-top: 25px;
}

#sidebar .nav>li>a {
  padding-top: 1px;
  padding-bottom: 2px;
}

#installation .sourceCode {
  font-size: 13px;
}

.r-plot {
  margin-top: 15px;
  margin-bottom: 20px;
  border: solid 1px #cccccc;
}

.screenshot {
  margin-bottom: 20px;
  border: solid 1px #cccccc;
}

.source-ref {
  margin-bottom: 20px;
}

.source-ref .caption {
  display: none;
}

.navbar-inverse {
  background-color: rgba(195,0,4, 0.9);
  border-color: rgba(195,0,4, 0.9);
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #ffffff;
  background-color: rgb(180,0,12);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: rgb(180,0,12);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: rgb(180,0,12);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: rgba(195,0,4, 0.9);
}


.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus,  .dropdown-menu>li.active>a {
  background-color: rgba(195,0,4, 0.9); 
}

a {
  color: rgba(195,0,4,0.8);
}

a:hover {
  color: rgba(195,0,4,0.8);
  text-decoration: underline;
}


/*
code a, pre a {
  color: rgba(195,0,4,0.8);  
}

pre span a {
  color: #375f84;
} 

pre span a:hover {
  color: #375f84;
} 
*/