
h4.date,
h4.author {
  display: none;
}

h2.hasAnchor {
  font-weight: 350;
}

.ref-index tbody {
  margin-bottom: 60px;
}

pre:not([class]) {
  background-color: white;
}

blockquote {
  font-size: inherit;
}

.examples .page-header {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
}

.examples .sourceCode {
  margin-top: 25px;
}

#sidebar .nav>li>a {
  padding-top: 1px;
  padding-bottom: 2px;
}

#installation .sourceCode {
  font-size: 13px;
}

.r-plot {
  margin-top: 15px;
  margin-bottom: 20px;
  border: solid 1px #cccccc;
}

.screenshot, .illustration {
  margin-bottom: 20px;
  border: solid 1px #cccccc;
}


.source-ref {
  margin-bottom: 20px;
}

.source-ref .caption {
  display: none;
}

.link-table td {
  padding-top: 20px !important;
  padding-bottom: 210x !important;
}

.navbar-inverse {
  background-color: rgba(195,0,4, 0.9);
  border-color: rgba(195,0,4, 0.9);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: rgba(195,0,4, 0.9);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #ffffff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
  border-color: #ffffff !important;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #ffffff;
  background-color: rgb(180,0,12);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: rgb(180,0,12);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: rgb(180,0,12);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: rgba(195,0,4, 0.9);
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus,  .dropdown-menu>li.active>a {
  background-color: rgba(195,0,4, 0.9);
}

a {
  color: rgba(195,0,4,0.8);
}

a:hover {
  color: rgba(195,0,4,0.8);
  text-decoration: underline;
}


.st-default-search-input {
  margin-top: 10px;
}

.st-default-search-input {
  display: none !important;
}

@media only screen and (min-width : 992px) {
.st-default-search-input {
  display: inline-block !important;
}
}

.st-default-search-input, .st-ui-search-input {
    display: inline-block;
    width: 220px;
    height: 16px;
    padding: 7px 11px 7px 28px;
    border: 1px solid rgba(195,0,4, 0.9) !important;
    font-weight: 400;
    color: #3B454F;
    font-size: 14px;
    line-height: 16px;
    background: #fff 8px 8px no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6%2BR8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG11AABzoAAA%2FN0AAINkAABw6AAA7GgAADA%2BAAAQkOTsmeoAAAESSURBVHjajNCxS9VRGMbxz71E4OwgoXPQxVEpXCI47%2BZqGP0LCoJO7UVD3QZzb3SwcHB7F3Uw3Zpd%2FAPCcJKG7Dj4u%2FK7Pwp94HDg5Xyf5z1Pr9YKImKANTzFXxzjU2ae6qhXaxURr%2FAFl9hHDy%2FwEK8z89sYVEp5gh84wMvMvGiSJ%2FEV85jNzLMR1McqfmN5BEBmnmMJFSvtpH7jdJiZv7q7Z%2BZPfMdcF6rN%2FT%2F1m2LGBkd4HhFT3dcRMY2FpskxaLNpayciHrWAGeziD7b%2BVfkithuTk8bkGa4wgWFmbrSTZOYeBvjc%2BucQj%2FEe6xHx4Taq1nrnKaW8K6XUUsrHWuvNevdRRLzFGwzvDbXAB9cDAHvhedDruuxSAAAAAElFTkSuQmCC);

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
}


/*
code a, pre a {
  color: rgba(195,0,4,0.8);
}

pre span a {
  color: #375f84;
}

pre span a:hover {
  color: #375f84;
}
*/


.navbar-brand .label {
  display: none;
}
