
h4.date,
h4.author {
  display: none;
}

h2.hasAnchor {
  font-weight: 350;
}

.ref-index tbody {
  margin-bottom: 60px;
}

pre:not([class]) {
  background-color: white;
}

.contents a {
  text-decoration: none;
}

blockquote {
  font-size: inherit;
}

.examples .page-header {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
}

.examples .sourceCode {
  margin-top: 25px;
}

#sidebar .nav>li>a {
  padding-top: 1px;
  padding-bottom: 2px;
}

#installation .sourceCode {
  font-size: 13px;
}

.r-plot {
  margin-bottom: 25px;
}

.screenshot {
  margin-bottom: 20px;
}
